### 1. Write four functions that directly mutate a list:

    1. repeat(lst, n): Repeat lst n times.
    2. add(lst, x): Adds x to the end of the lst.
    3. remove(lst, m, n): Removes all elements between indices m and n inclusive in lst.
    4. concat(lst, x): concatenates lst with x (another list).

Examples

lst = [1, 2, 3, 4]

repeat(lst, 3) ➞ [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4] 

add(lst, 1) ➞ [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1]

remove(lst, 1, 12) ➞ [1]

concat(lst, [3, 4]) ➞ [1, 3, 4]

In [47]:
def repeat(lst,n):
    lst+=lst*(n-1)
    return lst

def add(lst,x):
    lst.append(x)
    return lst

def remove(lst,m,n):
    del lst[m:n+1]
    return lst

def concat(lst,x):
    lst+=x
    return lst

In [48]:
lst = [1, 2, 3, 4]
repeat(lst, 3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [49]:
add(lst, 1)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1]

In [50]:
remove(lst, 1, 12)

[1]

In [51]:
concat(lst, [3, 4])

[1, 3, 4]


### 2. The classic game of Mastermind is played on a tray on which the Mastermind conceals a code and the Guesser has 10 tries to guess it. The code is a sequence of 4 (or 6, sometimes more) pegs of different colors. Each guess is a corresponding sequence of 4 (or more) pegs of different colors. A guess is "correct" when the color of every peg in the guess exactly matches the corresponding peg in the Mastermind's code.

After each guess by the Guesser, the Mastermind will give a score comprising black & white pegs, not arranged in any order:

   - Black peg == guess peg matches the color of a code peg in the same position.
   - White peg == guess peg matches the color of a code peg in another position.

Create a function that takes two strings, code and guess as arguments, and returns the score in a dictionary.

   - The code and guess are strings of numeric digits
   - The color of the pegs are represented by numeric digits
   - no "peg" may be double-scored

Examples

guess_score("1423", "5678") ➞ {"black": 0, "white": 0}

guess_score("1423", "2222") ➞ {"black": 1, "white": 0}

guess_score("1423", "1234") ➞ {"black": 1, "white": 3}

guess_score("1423", "2211") ➞ {"black": 0, "white": 2}

In [78]:
def guess_score(code,guess):
    black=0
    white=0
    black=[i for i in range(len(guess)) if guess[i]==code[i]]
    for i in black:
        guess=guess.replace(guess[i]," ")
    for g in range(len(guess)):
        if guess[g] in code:
                white+=1
        guess=guess.replace(guess[g]," ")
    return {"black":len(black),"white":white}

In [79]:
guess_score("1423", "5678")

{'black': 0, 'white': 0}

In [80]:
guess_score("1423", "2222")

{'black': 1, 'white': 0}

In [81]:
guess_score("1423", "1234")

{'black': 1, 'white': 3}

In [82]:
guess_score("1423", "2211")

{'black': 0, 'white': 2}

### 3. Create a function that takes a list lst and a number N and returns a list of two integers from lst whose product equals N.

Examples

two_product([1, 2, -1, 4, 5], 20) ➞ [4, 5]

two_product([1, 2, 3, 4, 5], 10) ➞ [2, 5]

two_product([100, 12, 4, 1, 2], 15) ➞ None

In [87]:
def two_product(lst,N):
    for i in range(len(lst)):
        for j in range(len(lst)):
            if lst[i]*lst[j]==N and i!=j:
                return [lst[min(i,j)],lst[max(i,j)]]
            
    return "None"

In [88]:
two_product([1, 2, -1, 4, 5], 20)

[4, 5]

In [89]:
two_product([1, 2, 3, 4, 5], 10)

[2, 5]

In [90]:
two_product([100, 12, 4, 1, 2], 15)

'None'

### 4. In this challenge, sort a list containing a series of dates given as strings. Each date is given in the format DD-MM-YYYY_HH:MM:

"12-02-2012_13:44"

The priority of criteria used for sorting will be:

  - Year
  - Month
  - Day
  - Hours
  - Minutes

Given a list lst and a string mode, implement a function that returns:

   - if mode is equal to "ASC", the list lst sorted in ascending order.
   - if mode is equal to "DSC", the list lst sorted in descending order.

Examples

sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "ASC") ➞ ["10-02-2016_12:30", "10-02-2018_12:15", "10-02-2018_12:30"]

sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "DSC") ➞ ["10-02-2018_12:30", "10-02-2018_12:15", "10-02-2016_12:30"]

sort_dates(["09-02-2000_10:03", "10-02-2000_18:29", "01-01-1999_00:55"], "ASC") ➞ ["01-01-1999_00:55", "09-02-2000_10:03", "10-02-2000_18:29"]

In [151]:
def sort_dates(lst,mode):
    years=[int(x.split("_")[0][-4:]) for x in lst]
    years.sort()
    months=[int(x.split("-")[1]) for x in lst]
    months.sort()
    dates=[int(x.split("-")[0]) for x in lst]
    dates.sort()
    hours=[int(x.split("_")[1][:2]) for x in lst]
    hours.sort()
    mins=[int(x.split("_")[1][-2:]) for x in lst]
    mins.sort()

    new_lst=[]
    for i in range(len(lst)):
        for j in range(len(lst)):
            x=lst[j]
            mn=int(x.split("_")[1][-2:])
            if mn==mins[i]:
                new_lst.append(x)
                break
    lst=new_lst 
    print(lst)
    new_lst=[]
    for i in range(len(lst)):
        for j in range(len(lst)):
            x=lst[j]
            hour=int(x.split("_")[1][:2])
            if hour==hours[i]:
                print(x)
                new_lst.append(x)
                break
    
    lst=new_lst 
    print(lst)
    new_lst=[]
    for i in range(len(lst)):
        for j in range(len(lst)):
            x=lst[j]
            date=int(x.split("-")[0])
            if date==dates[i]:
                new_lst.append(x)
                break
        
    lst=new_lst 
    print(lst)
    new_lst=[]
    for i in range(len(lst)):
        for j in range(len(lst)):
            x=lst[j]
            month=int(x.split("-")[1])
            if month==months[i]:
                new_lst.append(x)    
                break
        
    lst=new_lst 
    print(lst)
    new_lst=[]
    for i in range(len(lst)):
        for j in range(len(lst)):
            x=lst[j]
            year=int(x.split("_")[0][-4:])     
            if year==years[i]:
                new_lst.append(x)    
                break
    
    
    return new_lst

In [152]:
sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "ASC")

['10-02-2018_12:15', '10-02-2018_12:30', '10-02-2018_12:30']
10-02-2018_12:15
10-02-2018_12:15
10-02-2018_12:15
['10-02-2018_12:15', '10-02-2018_12:15', '10-02-2018_12:15']
['10-02-2018_12:15', '10-02-2018_12:15', '10-02-2018_12:15']
['10-02-2018_12:15', '10-02-2018_12:15', '10-02-2018_12:15']

['10-02-2018_12:15', '10-02-2018_12:15']

In [130]:
a=[2018, 2016, 2018]

In [131]:
a.sort()

In [132]:
a

[2016, 2018, 2018]

### 5. Write a function that selects all words that have all the same vowels (in any order and/or number) as the first word, including the first word.

Examples

same_vowel_group(["toe", "ocelot", "maniac"]) ➞ ["toe", "ocelot"]

same_vowel_group(["many", "carriage", "emit", "apricot", "animal"]) ➞ ["many"]

same_vowel_group(["hoops", "chuff", "bot", "bottom"]) ➞ ["hoops", "bot", "bottom"]

In [187]:
def same_vowel_group(lst):
    ans=[lst[0]]
    vowels_0=[x for x in ["a","e","i","o","u"] if x in lst[0]]
    for i in range(1,len(lst)):
        vowels_word=[x for x in ["a","e","i","o","u"] if x in lst[i]]
        if set(vowels_0)==set(vowels_word):
            ans.append(lst[i])
            
    return ans

In [188]:
same_vowel_group(["toe", "ocelot", "maniac"])

['toe', 'ocelot']

In [189]:
same_vowel_group(["many", "carriage", "emit", "apricot", "animal"])

['many']

In [190]:
same_vowel_group(["hoops", "chuff", "bot", "bottom"])

['hoops', 'bot', 'bottom']

### 6. Create a function that takes a list of more than three numbers and returns the Least Common Multiple (LCM).

Examples

lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) ➞ 2520

lcm_of_list([13, 6, 17, 18, 19, 20, 37]) ➞ 27965340

lcm_of_list([44, 64, 12, 17, 65]) ➞ 2333760

In [32]:

def lcm_of_list(lst):
    lcm=lst[0]
    for i in lst[1:]:
        for j in range(max(lcm,i),lcm*i+1):
            if j%lcm==0 and j%i==0:
                lcm=j
                break
                
    return lcm

In [33]:
lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

2520

In [34]:
lcm_of_list([13, 6, 17, 18, 19, 20, 37])

27965340

In [35]:
lcm_of_list([44, 64, 12, 17, 65])

2333760